*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 30%;
  border: 2px red solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

header {
  width: 100%;
  border:1px blue solid;
  padding:3rem 1rem;
  background-color: #f174dc;
}